<form class="text-center border border-light p-5" [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <p class="h4 mb-4">Add Company</p>

  <input type="text" formControlName="companyCode" class="form-control mb-4" placeholder="Company Code ">

  <input type="email" formControlName="companyName" class="form-control mb-4" placeholder="Company Name">

  <input type="text" formControlName="turnover" class="form-control mb-4" placeholder="Turnover">

  <input type="text" formControlName="ceo" class="form-control mb-4" placeholder="CEO">

  <input type="text" formControlName="boardOfDirectors" class="form-control mb-4" placeholder="Board Of Directors">

  <input type="text" formControlName="sector" class="form-control mb-4" placeholder="Sector">

  <input type="text" formControlName="stockCode" class="form-control mb-4" placeholder="Stock Code">

  <!-- Message -->
  <div class="form-group">
    <textarea class="form-control rounded-0" formControlName="briefWriteup" rows="3" placeholder="Remarks"></textarea>
  </div>


  <!-- Send button -->
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>

